<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <span>Ajouter un litige</span>

        </ng-template>
        <div class="o-hidden mt-4">
            <form [formGroup]="Formcar" autocomplete="off" (ngSubmit)="onInfoFormCoordonneesSubmit()">
                <div fxLayout="row wrap" class="flex-wrapper">

                    <div fxFlex="100" fxFlex.gt-sm="40" class="px-3">
                    <mat-form-field>
                        <mat-label>Vehicule</mat-label>
                                <mat-select placeholder="choisir un vehicule" formControlName="vehicule" required>
                                    <mat-option *ngFor="let item of Car" [value]="item.id">
                                        {{item.mark_lib}},{{item.mod_lib}}
                                    </mat-option>
                                </mat-select>
                    </mat-form-field>
                    </div>
                    
                    
  
                </div>
                <div fxLayout="row wrap" class="flex-wrapper">
                    <div fxFlex="100" fxFlex.gt-sm="70" class="px-3">
                        <div class="container">
                            <div class="row">
                                <div class="o-hidden mt-4">
                                    <div fxLayout="row wrap">
                                        <h4> Decrivez votre accident.</h4>

                                        <div fxFlex="100" class="px-3">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Decrivez votre accident.
                                                </mat-label>
                                                <textarea matInput
                                                    placeholder="vehicule_description (street, apartment, suite, unit etc.)"
                                                    formControlName="litige_description" rows="5"></textarea>

                                            </mat-form-field>
                                        </div>



                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            <div fxLayout="row wrap" class="flex-wrapper">
                <div fxFlex="100" fxFlex.gt-sm="30" class="px-3">
                    <mat-checkbox formControlName="validcondition" color="primary">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <span class="mr-1">Accepter les conditions</span>
                    
                        </div>
                    </mat-checkbox>
                 </div>
            </div>
         
                <div fxLayout="row wrap" class="flex-wrapper">
                    <div fxFlex="100" fxFlex.gt-sm="30" class="px-3">
                        <div class="text-center">
                            <button mat-raised-button color="primary" type="submit" class="w-100 uppercase"><span
                                    class="px-3 uppercase">Enregistrer</span></button>
                        </div>
                    </div>
                </div>




            </form>
        </div>
    </mat-tab>
</mat-tab-group>