<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center py-3">
                <button (click)="signInWithFB()" style="cursor: pointer; border: none;">
                    <!-- Login with facebook -->
                    <img src="../../../assets/images/others/btn_facebook_signin_dark_normal_web@2x.svg" width="200"
                        height="43" style="margin: 0em;">
                </button>
            </div>

        </div>
    </div>
</div>