<div class="px-3 py-5">
  <div class="theme-container">  
      <mat-card class="p-0 o-hidden">
          <div fxLayout="row wrap"> 
              <div fxFlex="100" fxFlex.gt-sm="50" class="p-0" [style.background-image]="bgImage" class="bg-cover"> 
              </div> 
              <div fxFlex="100" fxFlex.gt-sm="50" class="py-3" ngClass.gt-sm="px-5" ngClass.sm="px-3" ngClass.xs="px-3">  
                  <div fxLayout="column" fxLayoutAlign="center center" class="text-center">  
                      <h1 class="secondary-font">inscription</h1>  
                      <a mat-button routerLink="/login" color="accent" class="w-100">Already have an account? Sign in!</a>  
                  </div>
                  <div class="text-center py-3">
                    <button mat-mini-fab color="primary" matTooltip="Facebook" type="button">
                        <svg class="mat-icon" viewBox="0 0 24 24">
                            <path d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" />
                        </svg>
                        
                    </button>                        
                    <button mat-mini-fab color="primary" matTooltip="Twitter" type="button" class="mx-3">
                        <svg class="mat-icon" viewBox="0 0 24 24">
                            <path d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                        </svg>
                    </button>
                    <button mat-mini-fab color="primary" matTooltip="Google" type="button"  [routerLink]="['/loginGoogle']">
                        <svg class="mat-icon" viewBox="0 0 24 24">
                            <path d="M21.35,11.1H12.18V13.83H18.69C18.36,17.64 15.19,19.27 12.19,19.27C8.36,19.27 5,16.25 5,12C5,7.9 8.2,4.73 12.2,4.73C15.29,4.73 17.1,6.7 17.1,6.7L19,4.72C19,4.72 16.56,2 12.1,2C6.42,2 2.03,6.8 2.03,12C2.03,17.05 6.16,22 12.25,22C17.6,22 21.5,18.33 21.5,12.91C21.5,11.76 21.35,11.1 21.35,11.1V11.1Z" />
                        </svg>
                    </button> 
                </div>  
                  <div class="divider mt-4"></div> 
                  <form [formGroup]="registerForm">  
                      <mat-form-field  appearance="outline" class="w-100 mt-2">
                          <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
                          <mat-label>Username</mat-label>
                          <input matInput placeholder="Username" formControlName="user_name" required>
                          <mat-error *ngIf="registerForm.controls.user_name.errors?.required">Username is required</mat-error>
                          <mat-error *ngIf="registerForm.controls.user_name.hasError('minlength')">Username isn't long enough, minimum of 6 characters</mat-error>
                      </mat-form-field>
                      <mat-form-field  appearance="outline" class="w-100 mt-2">
                        <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Username" formControlName="user_surname" required>
                        <mat-error *ngIf="registerForm.controls.user_surname.errors?.required">surrname is required</mat-error>
                        <mat-error *ngIf="registerForm.controls.user_surname.hasError('minlength')">surrname isn't long enough, minimum of 6 characters</mat-error>
                    </mat-form-field>
                      <mat-form-field  appearance="outline" class="w-100 mt-1">
                          <mat-icon matPrefix class="mr-1 text-muted">email</mat-icon>
                          <mat-label>Email</mat-label>
                          <input matInput placeholder="Email" formControlName="email" required>
                          <mat-error *ngIf="registerForm.controls.email.errors?.required">Email is required</mat-error>
                          <mat-error *ngIf="registerForm.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
                      </mat-form-field>
                      <mat-form-field  appearance="outline" class="w-100 mt-1">
                          <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
                          <mat-label>Password</mat-label>
                          <input matInput placeholder="Password" formControlName="password" type="password" minlength="6" required [type]="hide ? 'password' : 'text'">
                          <mat-error *ngIf="registerForm.controls.password.errors?.required">Password is required</mat-error>
                          <mat-error *ngIf="registerForm.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                          <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                      </mat-form-field> 
                      <mat-form-field  appearance="outline" class="w-100 mt-1">
                          <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
                          <mat-label>Confirm Password</mat-label>
                          <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password" required [type]="hide ? 'password' : 'text'">
                          <mat-error *ngIf="registerForm.controls.confirmPassword.errors?.required">Confirm Password is required</mat-error>
                          <mat-error *ngIf="registerForm.controls.confirmPassword.hasError('mismatchedPasswords')">Passwords do not match</mat-error>
                          <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                      </mat-form-field> 
                      <mat-slide-toggle formControlName="receiveNewsletter" class="my-2">Receive Newsletter</mat-slide-toggle>
                      <div class="text-center mt-2"> 
                          <button mat-raised-button color="accent" class="uppercase" type="submit"  (click)="onRegisterFormSubmit()"  [routerLink]="['/home']">
                              Create an Account
                          </button>
                      </div> 
                  </form>
                  <div class="divider mt-4"></div> 
                  <mat-card-actions fxLayoutAlign="center center" class="text-center">
                      <small class="my-3">By clicking the "Create an Account" button you agree with our <a mat-button routerLink="/terms-conditions" color="primary" class="mx-2">Terms and conditions</a> </small>
                  </mat-card-actions>
              </div> 
          </div> 
      </mat-card>
  </div>
</div>   