<!-- <p class="text-muted">Bonjour, <b>Emilio Verdines!</b> 
    <br/>Bienvenue sur votre Tableau de bord.</p> -->
    
<div fxLayout="row wrap" class="flex-wrapper">
    <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-3">
        <div class="bordered px-3 py-2">
            <div fxLayoutAlign="space-between center" >
                <h1 class="secondary-font">Adresse email</h1> 
                <mat-icon class="text-muted">alternate_email</mat-icon>
            </div>
            <div class="divider"></div>
            <div class="pt-3">
                <p>Soyez assuré de recevoir tous les messages et notifications.</p>
                <p class="primary-color fw-500">Vous avez confirmé cette adresse : ngansopfr@googlemail.com</p>
            </div>
            
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-3">
        <div class="bordered px-3 py-2">
            <div fxLayoutAlign="space-between center">
                <h1 class="secondary-font">Mobile</h1> 
                <mat-icon class="text-muted">mobile_friendly</mat-icon>
            </div>
            <div class="divider"></div>
            <div class="pt-3">
                <p><a routerLink="/account/verification" class="primary-color fw-500">Verifier mon idendité</a></p>
            </div>
            <div class="pt-3">
                <p><a routerLink="/account/validation" class="primary-color fw-500">Enregistrer mon permis</a></p>
            </div>
        </div> 
    </div>

    <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-3">
        <div class="bordered px-3 py-2">
            <div fxLayoutAlign="space-between center">
                <h1 class="secondary-font">Souriez !</h1> 
                <mat-icon class="text-muted">party_mode</mat-icon>
            </div>
            <div class="divider"></div>
            <div class="pt-3">
                <p>Soyez assuré de recevoir tous les messages et notifications.</p>
                <p class="primary-color fw-500">Vous avez confirmé cette adresse : ngansopfr@googlemail.com</p>
            </div>

            <form [formGroup]="VerificationCompteForm" (ngSubmit)="onInfoFormSubmit()">
                <!-- Metre a jour la photo-->
                <div  fxFlex.gt-sm="80" class="px-3 mb-3">
                    <app-image-upload [base64]="VerificationCompteForm.controls.image.value" [fileSize]="40"
                        [acceptTypes]="'image/png, image/jpeg, image/jpg'" (onFileChange)="fileChange($event)">
                    </app-image-upload>
                </div>
            </form>

        </div> 
    </div>

    <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-3">
        <div class="bordered px-3 py-2">
            <div fxLayoutAlign="space-between center">
                <h1 class="secondary-font">Compte Facebook</h1> 
                <mat-icon class="text-muted">people</mat-icon>
            </div>
            <div class="divider"></div>
            <div class="pt-3">
                <p><a routerLink="/account/verification" class="primary-color fw-500">En tant que locataire</a></p>
            </div>
            <div class="pt-3">
                <p><a routerLink="/account/validation" class="primary-color fw-500">En tant que propriétaire</a></p>
            </div>
        </div> 
    </div>

    <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-3">
        <div class="bordered px-3 py-2">
            <div fxLayoutAlign="space-between center">
                <h1 class="secondary-font">Identification & permis</h1> 
                <mat-icon class="text-muted">perm_identity</mat-icon>
            </div>
            <p> Vous disposer de </p> <h2> 100 Franc CFA </h2>
            <div class="divider"></div>
            <div class="pt-3">
                <p><a routerLink="/account/verification" class="primary-color fw-500">Mes depenses</a></p>
            </div>
            <div class="pt-3">
                <p><a routerLink="/account/validation" class="primary-color fw-500">Mes benefices</a></p>
            </div>
        </div> 
    </div>



    <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-3">
        <div class="bordered px-3 py-2">
            <div fxLayoutAlign="space-between center">
                <h1 class="secondary-font">Astuces</h1> 
                <mat-icon class="text-muted">attach_money</mat-icon>
            </div>
            <p> Vous disposer de </p> <h2> 100 Franc CFA </h2>
            <div class="divider"></div>
            <div class="pt-3">
                <p><a routerLink="/account/verification" class="primary-color fw-500">Mes depenses</a></p>
            </div>
            <div class="pt-3">
                <p><a routerLink="/account/validation" class="primary-color fw-500">Mes benefices</a></p>
            </div>
        </div> 
    </div>








    
    <!-- <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-3">
        <div class="bordered px-3 py-2">
            <div fxLayoutAlign="space-between center">
                <h2 class="secondary-font">Orders</h2> 
                <a mat-icon-button routerLink="/account/orders"><mat-icon class="text-muted">edit</mat-icon></a>
            </div>
            <div class="divider"></div>
            <div class="pt-3">
                <p class="">Completed</p>
                <mat-progress-bar value="75" color="primary"></mat-progress-bar>
                <p class="mt-1">Processing</p>
                <mat-progress-bar value="25" color="accent"></mat-progress-bar>
                <p class="mt-1">On hold</p>
                <mat-progress-bar value="65" color="warn"></mat-progress-bar>
                <p class="mt-1">Refunded</p>
                <mat-progress-bar value="25" color="primary"></mat-progress-bar>
            </div>
        </div>  
    </div> -->
</div>




