<mat-card class="m-2 p-0">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
        <div></div>
        <button mat-raised-button color="primary" (click)="newconstat()">
            <mat-icon>add</mat-icon>
            Ajouter un Nouveau constat
        </button>
    </div>
    <mat-divider></mat-divider>


    <div class="table-wrapper">

        <table mat-table [dataSource]="dataSource" matSort class="w-100">

            <!-- FullName Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>
                <td mat-cell *matCellDef="let car">{{car.id}} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="marque">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Marque </th>
                <td mat-cell *matCellDef="let car">{{car.mark_lib}} </td>
            </ng-container>
            <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Modele </th>
                <td mat-cell *matCellDef="let car">{{car.mod_lib}} </td>
            </ng-container>
            <ng-container matColumnDef="prix">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix de location </th>
                <td mat-cell *matCellDef="let car">{{car.vehicle_price_location}} </td>
            </ng-container> -->

            <!-- Username Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date d'enregistrement </th>
                <td mat-cell *matCellDef="let car">{{car.created_at}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Statut</th>
                <td mat-cell *matCellDef="let car">
                    <div fxLayoutAlign="start start">
                        <div class="rounded mrgn-r-xs success-bg status-icon" *ngIf="car.statut_constat=='en_attente'">
                        </div>
                        <div class="rounded mrgn-r-xs accent-bg status-icon" *ngIf="car.statut_constat'validé'"></div>
                        <div class="rounded mrgn-r-xs accent-bg status-icon" *ngIf="car.statut_constat'refusé'"></div>
                    </div>
                    <div class="status-text" *ngIf="car.statut_constat=='en_attente'">

                        <div class="mat-text-muted">en_attente</div>
                    </div>
                    <div class="status-text" *ngIf="car.statut_constat=='validé'">

                        <div class="mat-text-muted">validé</div>
                    </div>
                    <div class="status-text" *ngIf="car.statut_constat=='refusé'">

                        <div class="mat-text-muted">refusé</div>
                    </div>
                </td>
            </ng-container>
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>

                <td mat-cell *matCellDef="let car">
                    <button mat-icon-button color="primary" (click)="done(car.id)" matTooltip="Edit">

                        <mat-icon>done</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="clear(car.id)" matTooltip="clear">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="visibility(car.id)" matTooltip="visibility">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>
        </table>
        <p *ngIf="dataSource && dataSource.data.length === 0" class="py-5 mb-0 text-center">No data available</p>
    </div>
    <mat-paginator showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
</mat-card>