.contact-map .sebm-google-map-container {
    height: 70vh;
}

.contact-map-home .sebm-google-map-container {
    height: 50vh;
}

.dBRNZm {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    margin-left: -19px;
    margin-top: -32px;
    overflow: hidden;
    position: absolute;
    height: 36px;
    color: rgb(0, 126, 120);
    padding: 8px 16px;
    box-shadow: rgb(86 90 92 / 16%) 0px 6px 6px;
    background: rgb(255, 255, 255);
    border-radius: 100px;
    border: 1px solid rgb(0, 126, 120);
}