<div class="section testimonials">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title text-galsen">Ce que les gens disent</h1>
            <div class="testimonials-carousel mt-5">
                <div class="swiper-container h-100" [swiper]="config">
                    <div class="swiper-wrapper h-100">
                        <div *ngFor="let testimonial of testimonials" class="swiper-slide">
                            <div class="content text-center">
                                <img [attr.data-src]="testimonial.image" class="swiper-lazy">
                                <div class="quote open text-left text-galsen">“</div>
                                <p class="text text-galsen">{{testimonial.text}}</p>
                                <div class="quote close text-right text-galsen">”</div>
                                <h2 class="secondary-font text-galsen">{{testimonial.author}}</h2>
                                <p class="text-galsen">{{testimonial.position}}</p>
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>