

<table>
    <tr>
<th class="Elt">Elements</th>
<th class="Asp">Aspect</th>
<th class="cm">Commentaire</th>
    </tr>
    <tr>
        <th>Aspect_des_portieres</th>
        <th>{{this.resultcat?.Aspect_des_portieres}}</th>
        <th>{{this.resultcat?.CMAspect_des_portieres}}</th>
    </tr>
    <tr>
        <th>Aspect_exterieur</th>
        <th>{{this.resultcat?.Aspect_exterieur}}</th>
        <th>{{this.resultcat?.CMAspect_exterieur}}</th>
    </tr>

    <tr>
        <th>Ceinture_de_securite</th>
        <th>{{this.resultcat?.Ceinture_de_securite}}</th>
        <th>{{this.resultcat?.CMCeinture_de_securite
}}</th>
    </tr>

    <tr>
        <th>Compteur_kilometrique</th>
        <th>{{this.resultcat?.Compteur_kilometrique}}</th>
        <th>{{this.resultcat?.CMCompteur_kilometrique}}</th>
    </tr>

    <tr>
        <th>Etat_de_la_roue_de_secours</th>
        <th>{{this.resultcat?.Etat_de_la_roue_de_secours}}</th>
        <th>{{this.resultcat?.CMEtat_de_la_roue_de_secours}}</th>
    </tr>

    <tr>
        <th>Etat_des_tapis</th>
        <th>{{this.resultcat?.Etat_des_tapis}}</th>
        <th>{{this.resultcat?.CMEtat_des_tapis}}</th>
    </tr>

    <tr>
        <th>Etat_des_vitres</th>
        <th>{{this.resultcat?.Etat_des_vitres}}</th>
        <th>{{this.resultcat?.CMEtat_des_vitres}}</th>
    </tr>

    <tr>
        <th>Etat_du_plafond_interieur</th>
        <th>{{this.resultcat?.Etat_du_plafond_interieur}}</th>
        <th>{{this.resultcat?.CMEtat_du_plafond_interieur}}</th>
    </tr>

    <tr>
        <th>Etat_revetement_du_coffre</th>
        <th>{{this.resultcat?.Etat_revetement_du_coffre}}</th>
        <th>{{this.resultcat?.CMEtat_revetement_du_coffre}}</th>
    </tr>

    <tr>
        <th>Fonctionnement_des_portieres</th>
        <th>{{this.resultcat?.Fonctionnement_des_portieres}}</th>
        <th>{{this.resultcat?.CMFonctionnement_des_portieres}}</th>
    </tr>

    <tr>
        <th>Frein_de_secours</th>
        <th>{{this.resultcat?.Frein_de_secours}}</th>
        <th>{{this.resultcat?.CMFrein_de_secours}}</th>
    </tr>

    <tr>
        <th>Jauges_de_niveau</th>
        <th>{{this.resultcat?.Jauges_de_niveau}}</th>
        <th>{{this.resultcat?.CMJauges_de_niveau}}</th>
    </tr>
    
    <tr>
        <th>Paire_de_pneus_arriere</th>
        <th>{{this.resultcat?.Paire_de_pneus_arriere}}</th>
        <th>{{this.resultcat?.CMPaire_de_pneus_arriere}}</th>
    </tr>
    <tr>
        <th>Paire_de_pneus_avant</th>
        <th>{{this.resultcat?.Paire_de_pneus_avant}}</th>
        <th>{{this.resultcat?.CMPaire_de_pneus_avant}}</th>
    </tr>
    <tr>
        <th>Retroviseurs</th>
        <th>{{this.resultcat?.Retroviseurs}}</th>
        <th>{{this.resultcat?.CMRetroviseurs}}</th>
    </tr>

    <tr>
        <th>Sieges</th>
        <th>{{this.resultcat?.Sieges}}</th>
        <th>{{this.resultcat?.CMSieges}}</th>
    </tr>
    <tr>
        <th>Tableau_de_bord</th>
        <th>{{this.resultcat?.Tableau_de_bord}}</th>
        <th>{{this.resultcat?.CMTableau_de_bord}}</th>
    </tr>
    <tr>
        <th>Pedales</th>
        <th>{{this.resultcat?.Pedales}}</th>
        <th>{{this.resultcat?.CMPedales}}</th>
    </tr>
</table>

